In [13]:
tuple_one  = 3,4,5
tuple_one

(3, 4, 5)

In [14]:
inner_tuple = (3,4,5),(7,8)
inner_tuple

((3, 4, 5), (7, 8))

In [25]:
text = 'text'
text

'text'

In [26]:
text[0]

't'

In [30]:
test = (['foo'],[1,2],True)

In [31]:
test[2] = False

TypeError: 'tuple' object does not support item assignment

In [32]:
test[1].append(3)

In [33]:
test

(['foo'], [1, 2, 3], True)

In [34]:
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [35]:
('foo','bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [37]:
test = (4,5,6)
a, b, c = test
b

5

In [39]:
test = 4, 5, (6, 7)
a, b, (c, d) = test
d

7

In [40]:
a, b = 1, 2

In [41]:
a

1

In [42]:
b

2

In [43]:
a, b = b, a

In [44]:
a

2

In [45]:
b

1

In [46]:
sequence = [(1,2,3),(4,5,6),(7,8,9)]

In [47]:
for a,b,c in sequence:
    print('a = {0}, b = {1}, c = {2}'.format(a,b,c))

a = 1, b = 2, c = 3
a = 4, b = 5, c = 6
a = 7, b = 8, c = 9

In [48]:
values = 1, 2, 3, 4, 5
a, b, *rest = values
(a, b)

(1, 2)

In [49]:
rest

[3, 4, 5]

In [50]:
a, b, *_ = values

In [52]:
test = (1, 2, 2, 2, 3, 4, 2)
test.count(2)

4

In [53]:
list_a = [2, 3, 7, None]
tupla = ('foo','bar','baz')
list_b = list(tupla)
list_b

['foo', 'bar', 'baz']

In [54]:
list_b[1] = 'peekaboo'
list_b

['foo', 'peekaboo', 'baz']

In [55]:
gen = range(10)

In [56]:
gen

range(0, 10)

In [57]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [58]:
list_b.append('dwarf')

In [59]:
list_b

['foo', 'peekaboo', 'baz', 'dwarf']

In [60]:
list_b.insert(1,'red')

In [61]:
list_b

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [62]:
list_b.pop(2)

'peekaboo'

In [63]:
list_b

['foo', 'red', 'baz', 'dwarf']

In [66]:
list_b.append('foo')

In [67]:
list_b

['foo', 'red', 'baz', 'dwarf', 'foo']

In [68]:
list_b.remove('foo')

In [69]:
list_b

['red', 'baz', 'dwarf', 'foo']

In [70]:
'dwarf' in list_b

True

In [71]:
'dwarf' not in list_b

False

In [72]:
[4, None, 'foo'] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [74]:
x = [4, None, 'foo']
x.extend([7, 8, (2, 3)])
x

[4, None, 'foo', 7, 8, (2, 3)]

In [75]:
a = [7, 2, 5, 1, 3]
a.sort()
a

[1, 2, 3, 5, 7]

In [76]:
b = ['saw', 'small', 'He', 'foxes', 'six']
b.sort(key=len)
b

['He', 'saw', 'six', 'small', 'foxes']

In [77]:
import bisect

c = [1, 2, 2, 2, 3, 4, 7]

bisect.bisect(c, 2)

4

In [78]:
bisect.bisect(c,5)

6

In [80]:
bisect.insort(c, 6)

In [81]:
c

[1, 2, 2, 2, 3, 4, 6, 7]

In [82]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[1:5]

[2, 3, 7, 5]

In [84]:
seq[3:4] = [6, 3]
seq

[7, 2, 3, 6, 3, 3, 5, 6, 0, 1]

In [85]:
seq[:5]

[7, 2, 3, 6, 3]

In [86]:
seq[3:]

[6, 3, 3, 5, 6, 0, 1]

In [87]:
seq[-4:]

[5, 6, 0, 1]

In [88]:
seq[-6:-2]

[3, 3, 5, 6]

In [89]:
seq[::2]

[7, 3, 3, 5, 0]

In [90]:
seq[::-1]

[1, 0, 6, 5, 3, 3, 6, 3, 2, 7]

In [91]:
list_1 = ['foo','bar','baz']
mapping = {}

for i,v in enumerate(list_1):
    mapping[v] = i
    
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

In [92]:
sorted([7, 1, 6, 0, 3, 2])

[0, 1, 2, 3, 6, 7]

In [93]:
sorted('Ala ma kota')

[' ', ' ', 'A', 'a', 'a', 'a', 'k', 'l', 'm', 'o', 't']

In [96]:
seq1 = ['foo','bar','baz']
seq2 = ['one','two','three']

zipped = zip(seq1, seq2)
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [97]:
seq3 = [False, True]

list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [98]:
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print('{0}: {1},{2}'.format(i, a,b ))

0: foo,one
1: bar,two
2: baz,three

In [99]:
pitchers = [('Nolan','Ryan'), ('Roger','Clemens'), ('Schilling','Curt')]
first_name, last_name = zip(*pitchers)

In [100]:
first_name

('Nolan', 'Roger', 'Schilling')

In [101]:
last_name

('Ryan', 'Clemens', 'Curt')

In [102]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]