In [1]:
tuple_one  = 3,4,5
tuple_one

(3, 4, 5)

In [2]:
inner_tuple = (3,4,5),(7,8)
inner_tuple

((3, 4, 5), (7, 8))

In [3]:
text = 'text'
text

'text'

In [4]:
text[0]

't'

In [5]:
test = (['foo'],[1,2],True)

In [6]:
test[2] = False

TypeError: 'tuple' object does not support item assignment

In [7]:
test[1].append(3)

In [8]:
test

(['foo'], [1, 2, 3], True)

In [9]:
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [10]:
('foo','bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [11]:
test = (4,5,6)
a, b, c = test
b

5

In [12]:
test = 4, 5, (6, 7)
a, b, (c, d) = test
d

7

In [13]:
a, b = 1, 2

In [14]:
a

1

In [15]:
b

2

In [16]:
a, b = b, a

In [17]:
a

2

In [18]:
b

1

In [19]:
sequence = [(1,2,3),(4,5,6),(7,8,9)]

In [20]:
for a,b,c in sequence:
    print('a = {0}, b = {1}, c = {2}'.format(a,b,c))

a = 1, b = 2, c = 3
a = 4, b = 5, c = 6
a = 7, b = 8, c = 9

In [21]:
values = 1, 2, 3, 4, 5
a, b, *rest = values
(a, b)

(1, 2)

In [22]:
rest

[3, 4, 5]

In [23]:
a, b, *_ = values

In [24]:
test = (1, 2, 2, 2, 3, 4, 2)
test.count(2)

4

In [25]:
list_a = [2, 3, 7, None]
tupla = ('foo','bar','baz')
list_b = list(tupla)
list_b

['foo', 'bar', 'baz']

In [26]:
list_b[1] = 'peekaboo'
list_b

['foo', 'peekaboo', 'baz']

In [27]:
gen = range(10)

In [28]:
gen

range(0, 10)

In [29]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [30]:
list_b.append('dwarf')

In [31]:
list_b

['foo', 'peekaboo', 'baz', 'dwarf']

In [32]:
list_b.insert(1,'red')

In [33]:
list_b

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [34]:
list_b.pop(2)

'peekaboo'

In [35]:
list_b

['foo', 'red', 'baz', 'dwarf']

In [36]:
list_b.append('foo')

In [37]:
list_b

['foo', 'red', 'baz', 'dwarf', 'foo']

In [38]:
list_b.remove('foo')

In [39]:
list_b

['red', 'baz', 'dwarf', 'foo']

In [40]:
'dwarf' in list_b

True

In [41]:
'dwarf' not in list_b

False

In [42]:
[4, None, 'foo'] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [43]:
x = [4, None, 'foo']
x.extend([7, 8, (2, 3)])
x

[4, None, 'foo', 7, 8, (2, 3)]

In [44]:
a = [7, 2, 5, 1, 3]
a.sort()
a

[1, 2, 3, 5, 7]

In [45]:
b = ['saw', 'small', 'He', 'foxes', 'six']
b.sort(key=len)
b

['He', 'saw', 'six', 'small', 'foxes']

In [46]:
import bisect

c = [1, 2, 2, 2, 3, 4, 7]

bisect.bisect(c, 2)

4

In [47]:
bisect.bisect(c,5)

6

In [48]:
bisect.insort(c, 6)

In [49]:
c

[1, 2, 2, 2, 3, 4, 6, 7]

In [50]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[1:5]

[2, 3, 7, 5]

In [51]:
seq[3:4] = [6, 3]
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

In [52]:
seq[:5]

[7, 2, 3, 6, 3]

In [53]:
seq[3:]

[6, 3, 5, 6, 0, 1]

In [54]:
seq[-4:]

[5, 6, 0, 1]

In [55]:
seq[-6:-2]

[6, 3, 5, 6]

In [56]:
seq[::2]

[7, 3, 3, 6, 1]

In [57]:
seq[::-1]

[1, 0, 6, 5, 3, 6, 3, 2, 7]

In [58]:
list_1 = ['foo','bar','baz']
mapping = {}

for i,v in enumerate(list_1):
    mapping[v] = i
    
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

In [59]:
sorted([7, 1, 6, 0, 3, 2])

[0, 1, 2, 3, 6, 7]

In [60]:
sorted('Ala ma kota')

[' ', ' ', 'A', 'a', 'a', 'a', 'k', 'l', 'm', 'o', 't']

In [61]:
seq1 = ['foo','bar','baz']
seq2 = ['one','two','three']

zipped = zip(seq1, seq2)
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [62]:
seq3 = [False, True]

list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [63]:
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print('{0}: {1},{2}'.format(i, a,b ))

0: foo,one
1: bar,two
2: baz,three

In [64]:
pitchers = [('Nolan','Ryan'), ('Roger','Clemens'), ('Schilling','Curt')]
first_name, last_name = zip(*pitchers)

In [65]:
first_name

('Nolan', 'Roger', 'Schilling')

In [66]:
last_name

('Ryan', 'Clemens', 'Curt')

In [67]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [68]:
empty_dict = {}
d1 = {'a':'None value','b':[1, 2, 3, 4]}
d1

{'a': 'None value', 'b': [1, 2, 3, 4]}

In [69]:
d1[7] = 'Integer'

In [70]:
d1

{'a': 'None value', 'b': [1, 2, 3, 4], 7: 'Integer'}

In [71]:
d1['b']

[1, 2, 3, 4]

In [72]:
'b' in d1

True

In [73]:
d1[5] = 'Transient value'
d1

{'a': 'None value', 'b': [1, 2, 3, 4], 7: 'Integer', 5: 'Transient value'}

In [74]:
d1['Temporary'] = 'Other value'
d1

{'a': 'None value',
 'b': [1, 2, 3, 4],
 7: 'Integer',
 5: 'Transient value',
 'Temporary': 'Other value'}

In [75]:
del d1[5]

In [76]:
d1

{'a': 'None value',
 'b': [1, 2, 3, 4],
 7: 'Integer',
 'Temporary': 'Other value'}

In [77]:
ret = d1.pop('Temporary')

In [78]:
ret

'Other value'

In [79]:
d1

{'a': 'None value', 'b': [1, 2, 3, 4], 7: 'Integer'}

In [80]:
list(d1.keys())

['a', 'b', 7]

In [81]:
list(d1.values())

['None value', [1, 2, 3, 4], 'Integer']

In [82]:
d1.update({'b' : 'foo', 'c' : 12})
d1

{'a': 'None value', 'b': 'foo', 7: 'Integer', 'c': 12}

In [83]:
maping = dict(zip(range(5),reversed(range(5))))
maping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [84]:
words = ['apple','bat','bar','atom','book']
by_letter = {}
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)

by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [85]:
for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)
    
by_letter

{'a': ['apple', 'atom', 'apple', 'atom'],
 'b': ['bat', 'bar', 'book', 'bat', 'bar', 'book']}

In [86]:
hash('string')

7716369434847259519

In [87]:
hash((1,2,(2,3)))

1097636502276347782

In [88]:
#Error raise modificated type 
hash(1,2,[2,3])

TypeError: hash() takes exactly one argument (3 given)

In [89]:
d = {}
d[tuple([1,2,3])] = 5 
d

{(1, 2, 3): 5}

In [90]:
set([2, 2, 2, 1, 3, 3])

{1, 2, 3}

In [91]:
{2,2,2,1,3,3}

{1, 2, 3}

In [92]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}

In [93]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [94]:
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [95]:
a.intersection(b)

{3, 4, 5}

In [96]:
a & b

{3, 4, 5}

In [97]:
c = a.copy()
c |= b
c

{1, 2, 3, 4, 5, 6, 7, 8}

In [98]:
d = a.copy()
d &= b 
d

{3, 4, 5}

In [99]:
my_data = [1, 2, 3, 4]
set1 = {tuple(my_data)}
set1

{(1, 2, 3, 4)}

In [100]:
a_set = {1, 2, 3, 4}

In [101]:
{1, 2,3 }.issubset(a_set)

True

In [102]:
a_set.issuperset({1, 2, 3})

True

In [103]:
{1, 2, 3} == {3, 2, 1}

True

In [104]:
strings = ['a','as','bat','car','dove','python']
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [105]:
unique_length = {len(x) for x in strings}
unique_length

{1, 2, 3, 4, 6}

In [106]:
set(map(len, strings))

{1, 2, 3, 4, 6}

In [107]:
loc_mapping = {val: index for index, val in enumerate(strings)}
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

In [108]:
all_data = [['John','Emily','Michael','Marty','Steven'],
            ['Maria','Juan','Javier','Natalia','Pilar']]

In [110]:
result = [name for names in all_data for name in names
         if name.count('e') >= 2]

result

['Steven']

In [111]:
some_tuples = [(1, 2, 3),(4, 5, 6),(7,8,9)]
flattened = [ x for tup in some_tuples for x in tup ]
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [112]:
[[x for x in tup ] for tup in some_tuples]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [114]:
a = None 

def bind_a_variable():
    global a 
    a = []
    bind_a_variable()
    
print(a)

None

In [115]:
strings = ['foo','card','bsr','aaaa','abab']
strings.sort(key = lambda x: len(set(list(x))))
strings

['aaaa', 'foo', 'abab', 'bsr', 'card']

In [116]:
some_dict = {'a': 1,'b': 2, 'c': 3}
for key in some_dict:
    print(key)

a
b
c

In [117]:
dict_iterator = iter(some_dict)
dict_iterator

In [118]:
list(dict_iterator)

['a', 'b', 'c']

In [119]:
def squares(n=10):
    print('Generating squares from 1 to {0}'.format(n**2))
    for i in range(1, n + 1):
        yield i ** 2

In [120]:
gen = squares()
gen

In [121]:
for x in gen:
    print(x, end=' ')

Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

In [122]:
gen = ( x ** 2 for x in range(100))

gen

In [123]:
sum(x ** 2 for x in range(100))

328350

In [124]:
dict((i, i ** 2) for i in range(5))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [125]:
import itertools

first_letter = lambda x: x[0]
names = ['Alan','Adam','Wes','Will','Albert','Steven']

for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names))

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']